<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Frontend Engineer form</h1>

    <mat-form-field class=" example-full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input type="text" matInput formControlName="firstName" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last name</mat-label>
        <input type="text" matInput formControlName="lastName" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Front-end framework</mat-label>
        <mat-select formControlName="framework">
            <mat-option *ngFor="let framework of feFrameworks" [value]="framework.value">
                {{framework.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Front-end framework version</mat-label>
        <mat-select formControlName="frameworkVersion" [disabled]="!currentVerseLength">
            <mat-option *ngFor="let ver of currentVerse" [value]="ver">
                {{ ver }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" email required>
    </mat-form-field>

    <div class="hobbys">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Hobby name </mat-label>
            <input type="text" matInput formControlName="hobbyName">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Hobby duration</mat-label>
            <input type="number" matInput formControlName="hobbyDuration">
        </mat-form-field>
        <button mat-stroked-button (click)="addHobby($event)">Add hobby</button>
        <mat-list role="list">
            <mat-list-item *ngFor="let hobby of hobbies; let idx = index" role="listitem">
                <span>
                    {{hobby.name}} - {{hobby.duration}}
                </span>
                <button class="add-hobby__btn" (click)="removeHobby(idx)" mat-flat-button color="warn">remove</button>
            </mat-list-item>
        </mat-list>
    </div>
    <div>
        <button mat-stroked-button [disabled]="form.invalid"> Send form </button>
    </div>
</form>

<div class="form">
    <pre>
        {{ form.value | json}}
    </pre>
</div>