.container {
    margin: auto;
    max-width: 550px;
    padding: 15px;

}

.container form {
    display: flex;
    flex-flow: column;
}

.btn {
    margin-right: 20px;
    margin-bottom: 15px;
}

.hobbies__item mat-form-field:nth-child(2) {
    margin-left: 15px;
}