.form {
    margin: 60px auto;
    display: flex;
    flex-flow: column;
    max-width: 550px;
    justify-items: center;
    h1 {
        text-align: center;
    }
}
.border {
    border: solid black 2px;
    padding: 15px;
}
.add-hobby__btn {
    margin-left: 15px;
}
