<section class="container">
    <form
        [formGroup]="form"
        (submit)="postForm()"
    >
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input
                matInput
                formControlName="firstName"
            >
            <mat-hint *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">Field is empty. Fill it.</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input
                matInput
                formControlName="lastName"
            >
            <mat-hint *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">Field is empty. Fill it.</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input
                matInput
                formControlName="dateOfBirth"
                [matDatepicker]="picker"
            >
            <mat-hint *ngIf="form.get('dateOfBirth')?.touched&&form.get('dateOfBirth')?.invalid">Pick your birth date</mat-hint>
            <mat-datepicker-toggle
                matSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Choose a framework version</mat-label>
            <mat-select
                matInput
                formControlName="framework"
            >
                <mat-option
                    *ngFor="let framework of frameworks"
                    [value]="framework"
                >
                    {{ framework | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Choose a framework version</mat-label>
            <mat-select
                matInput
                formControlName="frameworkVersion"
                [disabled]="form.get('framework')?.value ==''"
            >
                <mat-option
                    *ngFor="let version of currentVersions"
                    value="{{version}}"
                >
                    {{
                    version |
                    titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input
                matInput
                formControlName="email"
            >
        </mat-form-field>

        <div
            formArrayName="hobby"
            class="hobbies"
        >
            <div
                *ngFor="let hobbyItem of hobby.controls; let i = index"
                class="hobby-item"
                [formGroupName]="i"
            >
                <mat-form-field appearance="outline">
                    <mat-label>Hobby name</mat-label>
                    <input
                        type="text"
                        matInput
                        formControlName="name"
                    >
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Hobby experience (month)</mat-label>
                    <input
                        type="number"
                        matInput
                        formControlName="duration"
                    >
                </mat-form-field>

                <button
                    *ngIf="i !== 0"
                    class="remove-hobby-btn"
                    mat-raised-button
                    color="warn"
                    (click)="removeHobby($event,i)"
                >
                    Remove
                </button>
            </div>
            <button
                class="btn"
                mat-stroked-button
                (click)="addHobby($event)"
            >
                Add hobby
            </button>
        </div>
        <div>
            <button
            mat-raised-button
            color="primary"
            [disabled]="form.invalid"
            >
                Submit form
            </button>
        </div>
    </form>
</section>
